/* Main Styling */
.main-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}
/* End Main Styling */

/* Card Styling */
.custom-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
    grid-auto-rows: auto;
    grid-gap: 3rem;
    padding: 10px;
}
.custom-card {
    border: 0.1 solid black;
    border-radius: 25px;
    padding: 2rem;
    background: var(--main-bg-color);
    box-shadow: 3px 5px 10px 3px lightgray;
}
.custom-card:hover {
    cursor: pointer;
}
/* End Card Styling */

/* Image Styling */
.header-image {
    width: 100%;
    height: 80%;
}
/* End Image Styling */

/* Social Media Styling */
.fa {
    font-size: 25px;
    text-decoration: none;
}
.fa:hover {
    text-decoration: none;
}
/* End Social Media Styling */

/* Footer Styling */
footer {
    padding-top: 2%;
    height: 200px;
    width: 100%;
    text-align: center;
}
.footer-links {
    padding: 15px;
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    
}
/* End Footer Styling */

/* Content Blocks Styling */
.content-blocks {
    margin-top: 2%;
}

.gray-content-block {
    background-color: lightgray;
    padding: 5%;
}

.gray-content-block p {
    font-size: 20px;
}

.gray-content-block h1 {
    text-align: center;
    padding: 15px;
}
