{% extends "index.html" %}
{% block content %}
<div class="content-blocks">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/questions_doctors_ask">Questions Doctors Ask</a></li>
            <li class="breadcrumb-item active" aria-current="page">Past Medical History</li>
        </ol>
    </nav>
    <div class="custom-cards">
        {% for question in questions %}
        <div class="custom-card">
            <h1 class="card-title">{{ question.question }}</h1>
            <p class="card-text">{{ question.answer }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}