{% extends "index.html" %}
{% block content %}
<div class="content-blocks">
    <script>
        $("#questions_doctors_ask").addClass("active")
    </script>
    <h1>{{db.info.title}} <span class="badge badge-secondary">New</span></h1>
    <p>{{db.info.description}}</p>
    <!-- Links to Questions Doctors Ask Pages -->
    <div class="custom-cards">
        {% for card in db.containers %}
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src='{{ url_for("static", filename=card.image) }}' alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{card.title}}</h4>
                <p class="card-text">{{card.description}}</p>
                <a href="/{{card.ref}}" class="btn btn-outline-info">{{card.title}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}